<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Hello World!</title>
</head>
<body>
  <h1>A List of Awesome People</h1>
  <ul>
    {{range $i, $element := .}}
    <li>{{$i}} - {{$element}} </li>
    {{end}}
  </ul>
</body>
</html>
