<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Functions!</title>
</head>
<body>

  {{range .Engineer}}
  {{uc .Name}}
  {{end}}

  {{range .Engineer}}
  {{ft .Name}}
  {{end}}

</body>
</html>
